In [65]:
#Question1
import pandas as pd
import numpy as np
from sklearn.preprocessing import MinMaxScaler, OneHotEncoder

In [26]:
data = {
    'Gender': [1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2],
    'Age': [1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2],
    'Range': [4512, 3738, 4261, 3777, 4177, 3585, 3785, 3559, 3613, 3982, 3443, 3993, 3640, 4208, 3832, 0],
    'Head Size': [1530, 1297, 1335, 1282, 1590, 1300, 1400, 1255, 1355, 1375, 1340, 1380, 1355, 1522, 1208, 0],
    'Brain Weight': [1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 0]
}

In [27]:
df = pd.DataFrame(data)

In [28]:
scaler = MinMaxScaler()
df_scaled = pd.DataFrame(scaler.fit_transform(df), columns=df.columns)

In [29]:
print(df_scaled)

    Gender  Age     Range  Head Size  Brain Weight
0      0.0  0.0  1.000000   0.962264           0.5
1      0.0  0.0  0.828457   0.815723           0.5
2      0.0  0.0  0.944371   0.839623           0.5
3      0.0  0.0  0.837101   0.806289           0.5
4      0.0  0.0  0.925754   1.000000           0.5
5      0.0  0.0  0.794548   0.817610           0.5
6      0.0  0.0  0.838874   0.880503           0.5
7      0.0  0.0  0.788785   0.789308           0.5
8      0.0  1.0  0.800754   0.852201           1.0
9      1.0  1.0  0.882535   0.864780           1.0
10     1.0  1.0  0.763076   0.842767           1.0
11     1.0  1.0  0.884973   0.867925           1.0
12     1.0  1.0  0.806738   0.852201           1.0
13     1.0  1.0  0.932624   0.957233           1.0
14     1.0  1.0  0.849291   0.759748           1.0
15     1.0  1.0  0.000000   0.000000           0.0

In [30]:
#Question2
data = pd.read_csv('housing.csv')
print(data.describe())

          longitude      latitude  housing_median_age   total_rooms  \
count  20640.000000  20640.000000        20640.000000  20640.000000
mean    -119.569704     35.631861           28.639486   2635.763081
std        2.003532      2.135952           12.585558   2181.615252
min     -124.350000     32.540000            1.000000      2.000000
25%     -121.800000     33.930000           18.000000   1447.750000
50%     -118.490000     34.260000           29.000000   2127.000000
75%     -118.010000     37.710000           37.000000   3148.000000
max     -114.310000     41.950000           52.000000  39320.000000

       total_bedrooms    population    households  median_income  \
count    20433.000000  20640.000000  20640.000000   20640.000000
mean       537.870553   1425.476744    499.539680       3.870671
std        421.385070   1132.462122    382.329753       1.899822
min          1.000000      3.000000      1.000000       0.499900
25%        296.000000    787.000000    280.000000       2.563400
50%        435.000000   1166.000000    409.000000       3.534800
75%        647.000000   1725.000000    605.000000       4.743250
max       6445.000000  35682.000000   6082.000000      15.000100

       median_house_value
count        20640.000000
mean        206855.816909
std         115395.615874
min          14999.000000
25%         119600.000000
50%         179700.000000
75%         264725.000000
max         500001.000000

In [31]:
print("Data Types:")
print(data.dtypes)
print("\nShape of Data:")
print(data.shape)

Data Types:
longitude             float64
latitude              float64
housing_median_age    float64
total_rooms           float64
total_bedrooms        float64
population            float64
households            float64
median_income         float64
median_house_value    float64
ocean_proximity        object
dtype: object

Shape of Data:
(20640, 10)

In [32]:
null_values = data.isnull().sum()
print("\nNull Values:")
print(null_values)

Null Values:
longitude               0
latitude                0
housing_median_age      0
total_rooms             0
total_bedrooms        207
population              0
households              0
median_income           0
median_house_value      0
ocean_proximity         0
dtype: int64

In [33]:
data_filled = data.fillna(data.mean())

<ipython-input-33-5d00d3f5cd77>:1: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  data_filled = data.fillna(data.mean())

In [72]:
#Question3
from sklearn.model_selection import train_test_split

In [76]:
data=pd.read_csv('housing1.csv')

target_variable = 'median_income'

features = data.drop(target_variable, axis=1)


print("Features:")
print(features)
print("\nTarget Variable:")
print(data[target_variable])

Features:
       longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
0        -122.23     37.88                41.0        880.0           129.0
1        -122.22     37.86                21.0       7099.0          1106.0
2        -122.24     37.85                52.0       1467.0           190.0
3        -122.25     37.85                52.0       1274.0           235.0
4        -122.25     37.85                52.0       1627.0           280.0
...          ...       ...                 ...          ...             ...
20635    -121.09     39.48                25.0       1665.0           374.0
20636    -121.21     39.49                18.0        697.0           150.0
20637    -121.22     39.43                17.0       2254.0           485.0
20638    -121.32     39.43                18.0       1860.0           409.0
20639    -121.24     39.37                16.0       2785.0           616.0

       population  households  median_house_value ocean_proximity
0           322.0       126.0            452600.0        NEAR BAY
1          2401.0      1138.0            358500.0        NEAR BAY
2           496.0       177.0            352100.0        NEAR BAY
3           558.0       219.0            341300.0        NEAR BAY
4           565.0       259.0            342200.0        NEAR BAY
...           ...         ...                 ...             ...
20635       845.0       330.0             78100.0          INLAND
20636       356.0       114.0             77100.0          INLAND
20637      1007.0       433.0             92300.0          INLAND
20638       741.0       349.0             84700.0          INLAND
20639      1387.0       530.0             89400.0          INLAND

[20640 rows x 9 columns]

Target Variable:
0        8.3252
1        8.3014
2        7.2574
3        5.6431
4        3.8462
          ...
20635    1.5603
20636    2.5568
20637    1.7000
20638    1.8672
20639    2.3886
Name: median_income, Length: 20640, dtype: float64

In [77]:
from sklearn.preprocessing import MinMaxScaler

# Extract numerical columns for scaling (excluding non-numeric columns)
numeric_columns = data.select_dtypes(include=['float64', 'int64']).columns

# Create a copy of the DataFrame with only the numerical columns
numeric_data = data[numeric_columns]

# Apply Min-Max scaling to the entire numerical data
scaler = MinMaxScaler()
scaled_data = scaler.fit_transform(numeric_data)

# Create a DataFrame with the scaled numerical data
scaled_data_df = pd.DataFrame(scaled_data, columns=numeric_columns)

# Display the normalized numerical data and other descriptive statistics
print("\nNormalized Numerical Data:")
print(scaled_data_df)
print("\nAdditional Descriptive Statistics:")
print(data.describe())

Normalized Numerical Data:
       longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
0       0.211155  0.567481            0.784314     0.022331        0.019863
1       0.212151  0.565356            0.392157     0.180503        0.171477
2       0.210159  0.564293            1.000000     0.037260        0.029330
3       0.209163  0.564293            1.000000     0.032352        0.036313
4       0.209163  0.564293            1.000000     0.041330        0.043296
...          ...       ...                 ...          ...             ...
20635   0.324701  0.737513            0.470588     0.042296        0.057883
20636   0.312749  0.738576            0.333333     0.017676        0.023122
20637   0.311753  0.732200            0.313725     0.057277        0.075109
20638   0.301793  0.732200            0.333333     0.047256        0.063315
20639   0.309761  0.725824            0.294118     0.070782        0.095438

       population  households  median_income  median_house_value
0        0.008941    0.020556       0.539668            0.902266
1        0.067210    0.186976       0.538027            0.708247
2        0.013818    0.028943       0.466028            0.695051
3        0.015555    0.035849       0.354699            0.672783
4        0.015752    0.042427       0.230776            0.674638
...           ...         ...            ...                 ...
20635    0.023599    0.054103       0.073130            0.130105
20636    0.009894    0.018582       0.141853            0.128043
20637    0.028140    0.071041       0.082764            0.159383
20638    0.020684    0.057227       0.094295            0.143713
20639    0.038790    0.086992       0.130253            0.153403

[20640 rows x 9 columns]

Additional Descriptive Statistics:
          longitude      latitude  housing_median_age   total_rooms  \
count  20640.000000  20640.000000        20640.000000  20640.000000
mean    -119.569704     35.631861           28.639486   2635.763081
std        2.003532      2.135952           12.585558   2181.615252
min     -124.350000     32.540000            1.000000      2.000000
25%     -121.800000     33.930000           18.000000   1447.750000
50%     -118.490000     34.260000           29.000000   2127.000000
75%     -118.010000     37.710000           37.000000   3148.000000
max     -114.310000     41.950000           52.000000  39320.000000

       total_bedrooms    population    households  median_income  \
count    20433.000000  20640.000000  20640.000000   20640.000000
mean       537.870553   1425.476744    499.539680       3.870671
std        421.385070   1132.462122    382.329753       1.899822
min          1.000000      3.000000      1.000000       0.499900
25%        296.000000    787.000000    280.000000       2.563400
50%        435.000000   1166.000000    409.000000       3.534800
75%        647.000000   1725.000000    605.000000       4.743250
max       6445.000000  35682.000000   6082.000000      15.000100

       median_house_value
count        20640.000000
mean        206855.816909
std         115395.615874
min          14999.000000
25%         119600.000000
50%         179700.000000
75%         264725.000000
max         500001.000000

In [78]:
import pandas as pd
from sklearn.model_selection import train_test_split



target = data[target_variable]


X_train, X_test, y_train, y_test = train_test_split(features, target, test_size=0.2, random_state=42)


print("Training set - Features shape:", X_train.shape)
print("Testing set - Features shape:", X_test.shape)
print("Training set - Target shape:", y_train.shape)
print("Testing set - Target shape:", y_test.shape)

Training set - Features shape: (16512, 9)
Testing set - Features shape: (4128, 9)
Training set - Target shape: (16512,)
Testing set - Target shape: (4128,)