In [1]:
#Question 1:
import pandas as pd
import numpy as np

In [5]:
data = pd.read_csv('housing.csv')
print("Data Description:\n", data.describe())

Data Description:
           longitude      latitude  housing_median_age   total_rooms  \
count  20640.000000  20640.000000        20640.000000  20640.000000
mean    -119.569704     35.631861           28.639486   2635.763081
std        2.003532      2.135952           12.585558   2181.615252
min     -124.350000     32.540000            1.000000      2.000000
25%     -121.800000     33.930000           18.000000   1447.750000
50%     -118.490000     34.260000           29.000000   2127.000000
75%     -118.010000     37.710000           37.000000   3148.000000
max     -114.310000     41.950000           52.000000  39320.000000

       total_bedrooms    population    households  median_income  \
count    20433.000000  20640.000000  20640.000000   20640.000000
mean       537.870553   1425.476744    499.539680       3.870671
std        421.385070   1132.462122    382.329753       1.899822
min          1.000000      3.000000      1.000000       0.499900
25%        296.000000    787.000000    280.000000       2.563400
50%        435.000000   1166.000000    409.000000       3.534800
75%        647.000000   1725.000000    605.000000       4.743250
max       6445.000000  35682.000000   6082.000000      15.000100

       median_house_value
count        20640.000000
mean        206855.816909
std         115395.615874
min          14999.000000
25%         119600.000000
50%         179700.000000
75%         264725.000000
max         500001.000000

In [6]:
for column in data.columns:
    print(f"Column: {column}")
    print(f"Data Type: {data[column].dtype}")
    print(f"Shape: {data[column].shape}")
    print()

Column: longitude
Data Type: float64
Shape: (20640,)

Column: latitude
Data Type: float64
Shape: (20640,)

Column: housing_median_age
Data Type: float64
Shape: (20640,)

Column: total_rooms
Data Type: float64
Shape: (20640,)

Column: total_bedrooms
Data Type: float64
Shape: (20640,)

Column: population
Data Type: float64
Shape: (20640,)

Column: households
Data Type: float64
Shape: (20640,)

Column: median_income
Data Type: float64
Shape: (20640,)

Column: median_house_value
Data Type: float64
Shape: (20640,)

Column: ocean_proximity
Data Type: object
Shape: (20640,)

In [7]:
for column in data.columns:
    if data[column].isnull().any():
        print(f"Column: {column} has null values")
        data[column].fillna(data[column].mean(), inplace=True)
    else:
        print(f"Column: {column} has no null values")

Column: longitude has no null values
Column: latitude has no null values
Column: housing_median_age has no null values
Column: total_rooms has no null values
Column: total_bedrooms has null values
Column: population has no null values
Column: households has no null values
Column: median_income has no null values
Column: median_house_value has no null values
Column: ocean_proximity has no null values

In [11]:
#Question 3:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler, OneHotEncoder
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error
from sklearn.compose import make_column_transformer
from sklearn.pipeline import make_pipeline

In [12]:
features = data.drop('median_house_value', axis=1)
target = data['median_house_value']

In [13]:
categorical = features.dtypes == object
preprocess = make_column_transformer(
    (MinMaxScaler(), ~categorical),
    (OneHotEncoder(), categorical))

In [14]:
features_scaled = preprocess.fit_transform(features)

In [15]:
X_train, X_test, y_train, y_test = train_test_split(features_scaled, target, test_size=0.2, random_state=42)

In [16]:
model = LinearRegression()
model.fit(X_train, y_train)
predictions = model.predict(X_test)
mse = mean_squared_error(y_test, predictions)
print("Mean Squared Error: ", mse)
print("Coefficients: ", model.coef_)

Mean Squared Error:  4904399775.949274
Coefficients:  [ -269456.26465959  -239657.19278936    56211.43928254  -236753.55975715
   662374.86390017 -1361971.12838034   293424.98969761   572380.53483714
   -18926.58286195   -58713.23902328   117198.48975346   -24063.22507943
   -15495.4427888 ]